* {
   font-family: 'inter', sans-serif; 
   box-sizing: border-box;
   margin: 0;
   list-style: none;
   text-decoration: none;
}
/*membuat navigasi*/
header {
    width: 100%;
    height: 70px;
}

/*membuat logo berada di sebelah kiri*/
.header-left {
    float: left;
    padding-top: 15px;
    margin-left: 50px;
}

.header-left img {
    width: 100px;
}

/*membuat menu berada di sebelah kanan*/
.header-right {
    float: right;
    line-height: 70px;
    margin-right: 50px;
}

.header-right li {
    float: left;
    padding-right: 30px;
}

.header-right li a {
    color: #1c1c1c;
    font-weight: 400;
    transition: all 0.3s;
}

/*membuat menu berubah ketika di pilih kursor*/
.header-right li a:hover {
    color: #EC994B;
    font-weight: 500;
}

/*membuat background banner*/
.banner-wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) , rgba(187, 128, 50, 0.5)), url("../img/enrico-carnemolla-dUcb9d6V1jA-unsplash.jpg");
    background-size: cover;
    height: 630px;
}

.banner-content {
    color: white;
    opacity: 1;
    text-align: center;
    padding-top: 230px;
}

.h1-content {
    line-height: 45px;
    margin-bottom: 15px;
    font-size: 21px;
    opacity: 0.9;
    letter-spacing: 2px;
}

.p-content {
    font-size: 16px;
    opacity: 0.9;
}

.about-wrapper {
    height: 600px;
}

.heading {
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.about-left {
    float: left;
    width: 50%;
    padding-left: 200px;
}

.about-right {
    display: inline-block;
    text-align: left;
    width: 50%;
    padding-right: 100px;
}

.about-right p {
    width: 400px;
}

.about-left img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.btn-link {
    clear: left;
    padding-top: 80px;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    color: #EC994B;
    border: 1px solid #EC994B;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.btn:hover {
    color: white;
    background-color: #EC994B;
}

.gallery-wrapper {
    text-align: center;
}

.gallery-container {
    width: 100%;
    padding-bottom: 70px;
}

.img-content {
    width: 25%;
    float: left;
    padding-bottom: 50px;
}

.img-content img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.gabung-wrapper {
    width: 100%;
    text-align: center;
    background-color: #EC994B;
    clear: left;
    margin-top: 50px;
}

.h2-gabung {
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}

.h2-gabung h2 {
    font-weight: normal;
}

.btn-gabung {
    padding-bottom: 40px;
}

.btn-gabung a {
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #fff;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.btn-gabung a:hover {
    background-color: white;
    color: #EC994B;
}

footer {
    clear: left;
}

.footer-content {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #c9c9c9;
}

.footer-content img {
    width: 100px;
}

/*Responsive dengan tablet*/
@media (max-width: 1000px) {
    .h1-content {
        font-size: 18px;
    }
    
    .about-left {
        width: 100%;
        padding: 0;
    }

    .about-right {
        width: 100%;
        padding: 0;
        text-align: justify;
        padding: 30px 20px 10px 20px;
    }

    .about-right p {
        width: 80%;
        margin: 0 auto;
    }

    .img-content {
        width: 50%;
        padding-bottom: 50px;
    }
}

@media (max-width: 670px) {

    .header-right {
        margin-right: 10px;
    }

    .header-left {
        margin-left: 10px;
    }

    .header-right li {
        font-size: 14px;
        padding-right: 20px;
    }

    .banner-content {
        padding-top: 160px;
    }
    
    .h1-content {
        font-size: 18px;
    }
    
    .p-content {
        font-size: 14px;
    }

    .img-content {
        width: 100%;
    }
}